body { 
    background-color: #b9c3d4;
    color: #221811;
    font-family: Verdana, Arial, sans-serif;
}
    
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.pic {
    margin: 0 auto;
    width: 500px;
}

.img-me {
    width: 400px;
    height: 400px;
    background-image: url(images/23568.jpg) none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

*{
    box-sizing: board-box;
    }

.flex-container {
    display: flex;
    }

    .about-me {
    background-color: #394867;
    border: #0a0000 solid 2px;
    margin: 30px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.project {
    background-color: #394867;
    border: #0a0000 solid 2px;
    margin: 30px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.column {
    background-color: #394867;
    box-sizing: border-box;
    border: #0a0000 solid 2px;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    flex: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    inline-size: 875px;
    overflow-wrap: break-word;
}

.li {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    inline-size: 875px;
    overflow-wrap: break-word; 
}